* {
  &:focus {
    outline: none;
  }
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../src/assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 8%;
  font-family: 'Lato', sans-serif;
}
