.level {
  display: flex;
  list-style-type: none;
  margin-top: 10px;
  li {
    padding: 10px;
    flex-grow: 1;
    background-color: rgba(0, 78, 74, 0.7);
    text-align: center;
    &:first-child {
      border-radius: 12px 0 0 12px;
    }
    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }
  .active {
    background-color: rgba(0, 78, 74, 0.4);
  }
}
